body {
  margin: 0;
  padding: 0;
}

#webcamFeed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(-180deg);
  opacity: 1;
}

#trackedCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: rotate(-180deg);
  background-color: transparent;
}

#trackButton {
  position: absolute;
  top: 250px;
  left: 420px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-color: red;
  border: none;
  cursor: pointer;
}

#clearButton {
  position: absolute;
  top: 250px;
  left: 370px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid red;
  cursor: pointer;
}

#areaText {
  position: absolute;
  top: 230px;
  left: 10px;
  z-index: 3;
  font-family: arial, sans-serif;
  color: red;
  font-size: 24px;
}

#logText {
  position: absolute;
  top: 275px;
  left: 10px;
  z-index: 3;
  font-family: arial, sans-serif;
  color: red;
  font-size: 10px;
}

#logNumInput {
  position: absolute;
  top: 200px;
  left: 370px;
  z-index: 3;
  width: 100px;
  height: 50px;
  font-family: arial, sans-serif;
  font-size: 24px;
  background-color: transparent;
  color: red;
  text-align: right;
  border: none;
}

#attachModeDiv {
  position: absolute;
  top: 307px;
  left: 413px;
  z-index: 3;
}

#attachModeDiv p {
  font-family: arial, sans-serif;
  color: red;
  font-size: 10px;
  margin: 4px;
  float: left;
}

#attachModeInput {
  margin: 0;
  width: 10px;
}

#logNumInput:focus, #trackButton:focus, #clearButton:focus {
  outline-width: 0;
}
