html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  color: red;
  word-break: break-all;
  z-index: 3;
}

#canvas {
  position: absolute;
  top: 416px;
  left: 272px;
  z-index: 2;
}

#video {
  position: absolute;
  top: 416px;
  left: 272px;
  z-index: 1;
}

#surface-area {
  position: absolute;
  top: 756px;
  left: 298px;
}

#transaction {
  position: absolute;
  top: 789px;
  left: 298px;
  width: 427px;
}

#transaction-hash {
  position: absolute;
  top: 836px;
  left: 298px;
  width: 427px;
}

#toll {
  position: absolute;
  top: 350px;
  left: 20px;
}
