html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: 'Courier New', sans-serif;
  color: red;
  z-index: 3;
}

#canvas {
  position: absolute;
  top: 440px;
  left: 272px;
  z-index: 2;
}

#video {
  position: absolute;
  top: 440px;
  left: 272px;
  z-index: 1;
}

#surface-area {
  position: absolute;
  top: 780px;
  left: 298px;
}

#transaction {
  position: absolute;
  top: 810px;
  left: 298px;
  width: 427px;
}

#toll {
  position: absolute;
  top: 350px;
  left: 20px;
}
